:host {
    display: flex;
    --component-color: wheat
}

.post-div {
    flex: 1;
    display: flex;
    background: var(--component-color);
    text-align: justify;
    text-justify: inter-word;
}

.header-div {
    position: fixed;
}

.post-container-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 10vh;
    overflow-y: auto;;
}

.current-post-div {
    padding: 1vw;
    border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(114deg, rgba(255,255,255,1) 0%, rgba(137,141,142,1) 93%, rgba(94,99,100,1) 100%);
}

.form-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin-left: 10px;
    margin-right: 10px;
}

#label-contains {
    margin-left: 20px;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.comment-gradient-div {
    background: var(--color);
    background: linear-gradient(166deg, var(--color) 0%, rgba(94,99,100,0) 80%);
    border-radius: 10px;
    padding: 5px;
}

.comment-div {
    display: flex;
    background: var(--component-color);
    border-radius: 10px;
    padding: 5px;
}

.comment-content-div {
    padding: 0px 15px 0px 15px;
}